.footer-background {
    position: fixed;
    height: 55.93px;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212121;
    z-index: 8;
}

.logo-cnj {
    position: relative;
}