.menu-background {
    position: absolute;
    left: 0%;
    width: 250px;
    top: 80px;
    bottom: 0%;
    background: #FAFAFA;
    box-shadow: 2px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.menu-items {
    position: relative;
    height: 56px;
    left: 0%;
    width: 250px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #FAFAFA;
    color: #0C8BB0;
}

.menu-items:hover {
    background: #0C8BB0;
    color: white;
}

.menu-item-name {
    margin: 0%;
    margin-left: 25px;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

.arrow-menu {
    position: sticky;
    margin-right: 25px;
    display: flex;
    left: 100%;
}

.separate-line {
    height: 1px;
    width: 250px;
    background-color: rgba(212, 212, 212, 1);
}

.link-menu {
    text-decoration: none;
}