/* CSS Menu Trigger */
.menu-trigger.active {
    opacity: 1;
    transform: translate(0px,0px);
    transition: transform .2s ease-in-out;

}

.menu-trigger.inactive {
    transform: translate(-250px,0px);
    transition: transform .2s ease-in-out;
}

.menu-background {
    position: absolute;
    width: 250px;
    height: 100vh;
    top: 80px;
    margin: 0;
    bottom: 0%;
    background: #FAFAFA;
    box-shadow: 2px 0px 10px 1px rgba(0, 0, 0, 0.1);
    z-index: 7;
}

.menu-items {
    position: relative;
    height: 56px;
    left: 0%;
    width: 250px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #0C8BB0;
}

.menu-items:hover {
    background: #0C8BB0;
    color: white;
}

.menu-items.active {
    color: white;
    background: #0C8BB0;
}

.menu-item-name {
    margin: 0%;
    margin-left: 25px;
    margin-right: 25px;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

.menu-subitem-name {
    margin: 0%;
    margin-left: 50px;
    margin-right: 25px;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

.arrow-trigger {
    position: relative;
    padding: 12px;
    left: 10px;
}

.arrow-menu {
    position: relative;
    padding: 2px;
    box-shadow: 2px -2px 0 1px;
    border: solid transparent;
}

.arrow-menu.active {
    top: 6px;
    transform: rotate(-45deg);
}

.arrow-menu.inactive {
    top: -5px;
    transform: rotate(135deg);
}

.separate-line {
    height: 1px;
    width: 250px;
    background-color: rgba(212, 212, 212, 1);
}

/* CSS Submenu Trigger */

.submenu-trigger.inactive {
    display: none;
}