.subtitle-question {
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    font-weight: 600;
}

.asterisco {
    color: rgba(235, 87, 87, 1);
}

.heavy-line {
    margin-top: 25px;
    margin-bottom: 25px;
    border: solid;
    border-width: 2px;
    color: rgb(231, 231, 231);
}

.question-bar {
    margin-bottom: 30px;
    padding-left: 12px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.question-bar-hour {
    margin-bottom: 30px;
    text-align: center;
    width: 90px;
    height: 50px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.flex-bar {
    display: flex;
    justify-content: space-between;
}

.flex-bar-multiselect {
    display: flex;
}

.flex-search-bar-4 {
    width: 23%;
}

.multi-select {
    line-height: 36px;
}

.flex-search-bar-multiselect {
    min-width: 25%;
}

.bar-hour {
    margin-left: 4%;
}

.flex-bar-hour {
    position: relative;
    margin-left: 25px;
    top: 34px
}

.subtitle-hour {
    position: relative;
    bottom: 7px;
    margin-right: 10px;
}

.add-time-button {
    display: flex;
    cursor: pointer;
    color: #0C8BB0;
    justify-content: end;
}

.p-time-button {
    margin-bottom: 0;
    margin-left: 2px;
}

.flex-search-bar-3 {
    width: 31%;
}

.input-coordenadas{
    margin-top: 3%;
    display: flex;
    width: 50;
    
}

.question-bar-coordinates{
    margin-left: 2%;
    margin-right: 2%;
    width: 40%;
    height: 50px;

}

.question-bar-c{
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.flex-search-bar-c1{
    position: relative;
    width: 50%;
    height: 50px;
    margin-right: 5%;
    margin-bottom: 3%;
}

.flex-search-bar-c2{
    width: 50%;
    height: 50px;
    margin-left: 5%;
    margin-bottom: 3%;
    
}

.flex-search-bar-c3{
    width: 150px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.flex-bar-phones {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.flex-search-bar-a3{
    width: 48%;
}

.btn-div{
    width: 100%;
    text-align: right;
}

input:focus{
    display: flex !important;
    border-color: #0C8BB0 !important;
}

span{
    font-size: 10px;
    color: red;
}

.error-input {
    border-color: red; /* ou qualquer cor desejada para indicar erro */
}



.btn-out{
    width: 25%;
    height: 36px;
    border: 1px solid #0C8BB0;
    background-color: #FFFFFF;
    color: #0C8BB0;
    border-radius: 5px;
}

.btn-coordinates{
    width: 25%;
    height: 36px;
    border-radius: 5px;
    background-color: #0C8BB0;
    color: #FFFFFF;
    border:#0C8BB0 ;
}

.btn-form{
    margin-top: 50px;
    margin-bottom: 40px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.question-bar-loc{
    margin-bottom: 30px;
    padding-left: 12px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.info-button{
    margin-left: 2%;
    width: 25%;
    cursor: pointer;
    color: #0C8BB0;
    margin-bottom: 2.5%;
}
